body{
    margin: 0;
    padding: 0;
    background: url(https://nilliawebdesign.com/images/hero-index.jpg) no-repeat fixed;
    /* background-size: cover; */
}

.box{
    border-radius: 5%;
    width: 450px;
    background: rgba(0,0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.prof-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}
/* .box p{
    text-align: justify;
} */
ul{
    margin: 0;
    padding: 0;
}
.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.box li a{
    color: tomato;
    text-decoration: none;
    font-size: 40px;
    transition: all ease-in-out 250ms;
}
.box p a{
    color: tomato;
    text-decoration: none;
}
.box li a :hover{
    color:whitesmoke;
}
.qualification{
    padding: 30px;
    text-align: center;
    margin: auto;
    color: whitesmoke;
}
th, td {
    border: 1px solid white;
    border-collapse: collapse;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    color: tomato;
  }
table{
    margin: auto;
    border: 1px solid white;
    border-collapse: collapse;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    color: whitesmoke;
    /* background-color: #f1f1c1; */
  }
#navbar{
      display: flex;
      justify-content: space-between;
      background: #333;
      color: #fff;
      padding: 0.5rem 8rem;
      position: sticky;
      top: 0;
      z-index: 1;
      border-bottom: 2px solid tomato;
  }
  #navbar li h2 a{
      color: tomato;
      font-size: 30px;
      list-style: none;
  }
  #navbar ul{
      display: flex;
      align-items: center;
      list-style: none;
  }
  #navbar li a{
      text-decoration: none;
      color: whitesmoke;
      padding: 1rem;
      font-size: 1.3rem;
      margin: 0 0.5rem;
      border-radius: 5px;
  }
  #navbar li a:hover{
    background-color: tomato;
}

#mainFooter{
    color: antiquewhite;
}